# 2. Write an algorithm to find the least common multiple of two numbers.

In [7]:
num1=int(input("Enter the number1: "))
num2=int(input("Enter the number2: "))
if(num1>num2):
    lcm=num1
else:
    lcm=num2
while(1):
    if(lcm%num1==0 and lcm%num2==0):
        print("lcm is ", lcm)
        break
    
    lcm=lcm+1

Enter the number1: 12
Enter the number2: 8
lcm is  24

# Write a program to print the sum of the first n terms of the following series:

In [28]:
#1/2 – 1/4 + 1/6 –1/8 + …
n=int(input("Enter the nth term: "))

sum=0
for i in range(1,n+1):
    if(i%2==0):
        sum-=1/(2*i)
    else:
        sum+=(1/(2*i))
    print("sum of first nterms: ",sum)

Enter the nth term: 4
sum of first nterms:  0.5
sum of first nterms:  0.25
sum of first nterms:  0.41666666666666663
sum of first nterms:  0.29166666666666663

In [ ]:
'''Evaluate the following expressions and justify your answers:
 7 * 2 - 5 ** 2 // 4 + 8         = 16
 10 < 5 or 7 < 12 and not 18 > 3 = f

 float(6 - int(56.4) % 2)  =6
 9 & -11          =1
 'hello' < 'hi' or 'I am fine' > 'I am not fine'
 '''

In [36]:
(14-25//4)+8

16

In [37]:
7*2-5**2//4+8

16

In [38]:
 10 < 5 or 7 < 12 and not 18 > 3

False

In [39]:
6-56%2
6-28

-22

In [40]:
float(6 - int(56.4) % 2)

6.0

In [41]:
56%2

0

In [42]:
9 & -11

1

In [44]:
1001 & 1011

993

In [48]:
'hello'<'hi'

True

In [49]:
'I am fine'> 'I am not fine'

False

In [50]:
9&11

9

In [51]:
12 & 34

0

In [58]:
'geet'<'gitanjali'

True

In [59]:
'''a function that accepts a number and a string as arguments. It should return a list having 
n elements such that the i
th element of the list has the string repeated i times. For 
example, if the arguments are 3 and 'Hello' then the function should return 
['Hello', 'HelloHello', 'HelloHelloHello']. Use list comprehension 
to generate this list.'''

"a function that accepts a number and a string as arguments. It should return a list having \nn elements such that the i\nth element of the list has the string repeated i times. For \nexample, if the arguments are 3 and 'Hello' then the function should return \n['Hello', 'HelloHello', 'HelloHelloHello']. Use list comprehension \nto generate this list."

In [66]:
def funcList(st,num):
    lst=[]
    for i in range(1,num):
        lst.append(st*i)

    print(lst)
funcList("geet",4)

['geet', 'geetgeet', 'geetgeetgeet']

In [116]:
def tup(t1,t2):
    try:
        lst=[]
    
        n=len(t1)
            
        for i in range(n):
            if(i%2==0):
                lst.append(t1[i])
            else:
                lst.append(t2[i])
    
    except IndexError:
                print("Tuples are not of same size")
    return (lst) 
    
print(lst)    
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
tup(t1,t2)

SyntaxError: 'return' outside function (<ipython-input-116-eb244667f1c3>, line 15)